.nav-links {
	color: rgb(252, 252, 252);
	padding: 0 20px;
	cursor: pointer;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

.nav-links:hover {
	color: black;
	text-decoration: underline;
	transform: scale(1.1);
	text-underline-offset: 3px;
	font-weight: bolder;
}
